/* CSS Document */
*{
	margin:0;
	padding:0;}
/*初学阶段可以使用*来去除内外边距，在项目中有选择性的给*/
body{
	font-family:"MILT_RG";
	font-size:14PX;
	color:#000;}
a {
	text-decoration:none;}
ul{
	list-style-type:none;}
.clear{
	clear:both;}
img{
	border:none;}
	/*head*/
#head{
	height:49px;
	line-height:49px;
	background:#000;}
#head_left{
	float:left;
	padding:16px 0 0 50px; }
#head_right{
	float:right;
	padding-right:50px;}
#head_right ul li{
	display:inline;
	padding:0 16px;}
#head_right ul li a{
	color:#ddd;}	
#head_right ul li a:hover{
	color:#868686;}	
/*xm_con_1*/		
#xm_con_1{
	height:796px;
	background:#eee url(../images/miui7.5-001.jpg) no-repeat center center scroll/*默认背景不跟内容移动   fixed给这内容移动 广告的做法*/;
	text-align:center;
	overflow:hidden;/*溢出隐藏*/}	
#xi_con_1_m {
	position:relative;
	top:200px;}
#xi_con_1_m a{
	display:block;
	width:154px;
	height:36px;
	color:#636363;
	border:1px solid #828282;
	border-radius:20px;/*css8的样式*/
	margin:35px auto; /*如果margin使网页出现下移的情况给父元素添加overflow属性使其溢出隐藏*/
	line-height:36px;}	
#xi_con_1_m p{
	font-size:18px;
	color:#878787;
	line-height:30px;}	
#xm_con_2{
	height:1280px;
	background:url(../images/miui7.5-031.jpg) no-repeat center center;
	text-align:center;
	overflow:hidden;}	
#xm_con_2_m{
	margin-top:80px;}
#xm_con_2_m h2{
	font-size:36px;
	font-weight:100;
	line-height:90px;}	
#xm_con_2_m p{
	color:#9e9d9b;
	font-size:18px;
	line-height:30px;}	
/*xm_con_3*/	

#xm_con_3{
	height:1600px;
	padding-top:110px;
	text-align:center;}
#xm_con_3 h2{
	color:#585858;
	font-size:36px;
	font-weight:100;
	margin-bottom:30px;}	
#xm_con_3 p{
	color:#8d8d8d;
	font-size:18px;
	line-height:30px;
	letter-spacing:1px;}	
#xm_con_3 p.zs{
	color:#b8b8b8;
	font-size:16px;
	margin-top:25px;}	
#xm_con_3_sj{
	margin:0 auto;
	margin-top:35px;
	height:800px;
	width:1240px;
	background:url(../images/miui7.5-002.jpg) center center no-repeat;
	overflow:hidden;}
#xm_con_3_sj ul {
	margin-top:760px;}	
#xm_con_3_sj ul li{
	display:inline;
	font-size:18px;
	color:#8d8d8d;
	line-height:30px;}	
.sj_2{
	position:relative;
	left:15px;}	
.sj_1{
	position:relative;
	right:280px;}
.sj_3{
	position:relative;
	left:290px;}	
#xm_con_3 h4{
	color:#585858;
	line-height:30px;
	font-size:22px;
	font-weight:100;
	margin-top:40px;}	
#xm_con_3_qj{
	width:1125px;
	height:320px;
	margin:0 auto;
	margin-top:30px;
	background:url(../images/miui7.5-004.jpg) no-repeat;
	overflow:hidden;}
#xm_con_3_qj ul{
	margin-top:295px;}	
#xm_con_3_qj ul li{
	display:inline;
	font-size:18px;
	color:#8d8d8d;
	line-height:30px;
	padding:0 232px;}
/*xm_con_4*/	
#xm_con_4{
	margin:0 auto;
	margin-top:100px;
	height:700px;
	width:1240px;
	overflow:hidden;
	text-align:center;}
#xm_con_4 h1{
	font-size:36px;
	font-weight:100;
	color:#585858;
	line-height:40px;}
#xm_con_4 p{
	font-size:16px;
	color:#585858;
	line-height:30px;
	margin-top:15px;}
#xm_con_4_foot{
	margin:0 auto;
	margin-top:100px;
	height:520px;
	width:1240px;
	background:url(../images/miui7.5-005.jpg) no-repeat;
	overflow:hidden;}
#xm_con_5{
	margin:0 auto;
	margin-top:100px;
	height:700px;
	width:1240px;
	overflow:hidden;
	text-align:center;}
#xm_con_5 h1{
	font-size:36px;
	font-weight:100;
	color:#585858;
	line-height:40px;}
#xm_con_5 p{
	font-size:16px;
	color:#585858;
	line-height:30px;
	margin-top:15px;}
#xm_con_5_foot{
	margin:0 auto;
	margin-top:100px;
	height:520px;
	width:1240px;
	background:url(../images/miui7.5-006.jpg) no-repeat;
	overflow:hidden;}
#xm_con_6{
	margin:0 auto;
	margin-top:100px;
	height:760px;
	width:1240px;
	overflow:hidden;
	text-align:center;}
#xm_con_6 h1{
	font-size:36px;
	font-weight:100;
	color:#585858;
	line-height:40px;}
#xm_con_6 p{
	font-size:16px;
	color:#585858;
	line-height:30px;
	margin-top:15px;
	margin-bottom:30px;}
#xm_con_6 span{
	font-size:14px;
	color:#c5c6c8;
	line-height:30px;}
#xm_con_6_foot{
	margin:0 auto;
	margin-top:100px;
	height:520px;
	width:1240px;
	background:url(../images/miui7.5-007.jpg);
	overflow:hidden;}
#xm_con_7{
	margin:0 auto;
	margin-top:100px;
	height:700px;
	width:1240px;
	overflow:hidden;
	text-align:center;}
#xm_con_7 h1{
	font-size:36px;
	font-weight:100;
	color:#585858;
	line-height:40px;}
#xm_con_7 p{
	font-size:16px;
	color:#585858;
	line-height:30px;
	margin-top:15px;}
#xm_con_7_foot{
	margin:0 auto;
	margin-top:100px;
	height:520px;
	width:1240px;
	background:url(../images/miui7.5-050.jpg) no-repeat center center;
	overflow:hidden;}
#xm_con_8{
	margin:0 auto;
	margin-top:100px;
	height:705px;
	width:1240px;
	overflow:hidden;
	text-align:center;}
#xm_con_8 h1{
	font-size:36px;
	font-weight:100;
	color:#585858;
	line-height:40px;}
#xm_con_8 p{
	font-size:16px;
	color:#585858;
	line-height:30px;
	margin-top:15px;}
#xm_con_8_foot{
	margin:0 auto;
	margin-top:100px;
	height:520px;
	width:1240px;
	background:url(../images/miui7.5-008.jpg) no-repeat center center;
	overflow:hidden;}
#xm_con_9{
	margin:0 auto;
	margin-top:100px;
	height:1200px;
	overflow:hidden;
	text-align:center;
	width:798px;}
#xm_con_9 h1{
	font-size:36px;
	font-weight:100;
	color:#585858;
	line-height:40px;}
#xm_con_9 p{
	font-size:16px;
	color:#585858;
	line-height:30px;
	margin-top:15px;
	margin-bottom:30px;
	width:740px;}
#xm_con_9 span{
	font-size:14px;
	color:#c5c6c8;
	line-height:30px;}
#xm_con_9_foot{
	margin:0 auto;
	margin-top:100px;
	height:792px;
	background:url(../images/miui7.5-009.jpg) no-repeat center center;
}
	/*foot*/	
#footer{
	height:160px;
	background-color:#f2f2f2;
	text-align:center;
	overflow:hidden;}
#footer ul{
	margin-top:50px;}	
#footer ul li{
	display:inline;
	color:#d9d9d9;
	padding-left:23px;
	line-height:30px;}	
#footer ul li a{
	margin-right:27px;
	color:#858585;}
#footer p{
	font-size:12px;
	line-height:30px;
	color:#c5c6c8;}	
	
	
	
	
	
	
	